
grafana:
  enabled: true
  sidecar:
    datasources:
      #disable as we are going to provide the datasource below
      enabled: false
  env:
    # switch off authentication
    GF_AUTH_ANONYMOUS_ENABLED: true
    GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
  image:
    tag: 7.3.3
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        url: http://loki-prometheus-server:80
        access: proxy
        version: 1
      - name: Jaeger
        type: jaeger
        uid: jaegerdatasource
        url: http://jaeger-query:16686
        access: proxy
        editable: true
      - name: Loki
        type: loki
        version: 1
        access: proxy
        editable: true
        url: http://loki:3100
        jsonData:
          maxLines: 1000
          derivedFields:
            - datasourceUid: jaegerdatasource
              matcherRegex: "traceID=(\\w+)"
              name: TraceID
              # url will be interpreted as query for the datasource
              url: "$${__value.raw}"

prometheus:
  enabled: true
  alertmanager:
    persistentVolume:
      enabled: false
  server:
    persistentVolume:
      enabled: false

loki:
  tracing:
    jaegerAgentHost: jaeger-agent
